# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
._*

# macOS Finder metadata
Icon?
.Spotlight-V100
.Trashes
.fseventsd


# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class


# Python virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Pip
pip-log.txt
pip-delete-this-directory.txt


# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3



# =========================
# IDEs / Editors
# =========================
.vscode/*
.vscode

.idea/
*.iml

# Vim
*.swp
*.swo

# VS Code local history
.history/


# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.bak
*.swp
*.swo
*~

# OS/editor backups
.DS_Store